<launch>
    <!-- Load configuration from YAML -->
    <rosparam command="load" file="$(find idmind_motorsboard)/cfg/idmind_motors.yaml" />

    <node pkg="idmind_motorsboard" type="idmind_motors.py" name="raposang_motors" output="screen">
        <remap from="/idmind_motors/wheel_odom"         to="/raposang/odometry"/>
        <remap from="/idmind_motors/arm"                to="/raposang/arm"/>
        <remap from="/idmind_motors/set_arm"            to="/raposang/set_arm"/>
        <remap from="/idmind_motors/set_velocities"     to="/raposang/set_velocities"/>
        <remap from="/idmind_motors/ticks"              to="/raposang/motors/ticks"/>
        <remap from="/idmind_logging"                   to="/raposang/motors/logging"/>
   </node>

</launch>
